In [1]:
import numpy as np
import pandas as pd

In [23]:
sat = pd.read_csv('/Users/amishdalal/DSI-NYC-2/projects/projects-weekly/project-01/assets/sat_scores.csv')
sat.head()

  State  Rate  Verbal  Math
0    CT    82     509   510
1    NJ    81     499   513
2    MA    79     511   515
3    NY    77     495   505
4    NH    72     520   516

In [24]:
sat = sat.set_index('State')

In [33]:
sat['Total'] = sat['Verbal'] + sat['Math']

In [36]:
sat.T.to_dict()

{'AK': {'Math': 510, 'Rate': 51, 'Total': 1024, 'Verbal': 514},
 'AL': {'Math': 554, 'Rate': 9, 'Total': 1113, 'Verbal': 559},
 'AR': {'Math': 550, 'Rate': 6, 'Total': 1112, 'Verbal': 562},
 'AZ': {'Math': 525, 'Rate': 34, 'Total': 1048, 'Verbal': 523},
 'All': {'Math': 514, 'Rate': 45, 'Total': 1020, 'Verbal': 506},
 'CA': {'Math': 517, 'Rate': 51, 'Total': 1015, 'Verbal': 498},
 'CO': {'Math': 542, 'Rate': 31, 'Total': 1081, 'Verbal': 539},
 'CT': {'Math': 510, 'Rate': 82, 'Total': 1019, 'Verbal': 509},
 'DC': {'Math': 474, 'Rate': 56, 'Total': 956, 'Verbal': 482},
 'DE': {'Math': 499, 'Rate': 67, 'Total': 1000, 'Verbal': 501},
 'FL': {'Math': 499, 'Rate': 54, 'Total': 997, 'Verbal': 498},
 'GA': {'Math': 489, 'Rate': 63, 'Total': 980, 'Verbal': 491},
 'HI': {'Math': 515, 'Rate': 52, 'Total': 1000, 'Verbal': 485},
 'IA': {'Math': 603, 'Rate': 5, 'Total': 1196, 'Verbal': 593},
 'ID': {'Math': 542, 'Rate': 17, 'Total': 1085, 'Verbal': 543},
 'IL': {'Math': 589, 'Rate': 12, 'Total': 1165, 'Verbal': 576},
 'IN': {'Math': 501, 'Rate': 60, 'Total': 1000, 'Verbal': 499},
 'KS': {'Math': 580, 'Rate': 9, 'Total': 1157, 'Verbal': 577},
 'KY': {'Math': 550, 'Rate': 12, 'Total': 1100, 'Verbal': 550},
 'LA': {'Math': 562, 'Rate': 7, 'Total': 1126, 'Verbal': 564},
 'MA': {'Math': 515, 'Rate': 79, 'Total': 1026, 'Verbal': 511},
 'MD': {'Math': 510, 'Rate': 65, 'Total': 1018, 'Verbal': 508},
 'ME': {'Math': 500, 'Rate': 69, 'Total': 1006, 'Verbal': 506},
 'MI': {'Math': 572, 'Rate': 11, 'Total': 1133, 'Verbal': 561},
 'MN': {'Math': 589, 'Rate': 9, 'Total': 1169, 'Verbal': 580},
 'MO': {'Math': 577, 'Rate': 8, 'Total': 1154, 'Verbal': 577},
 'MS': {'Math': 551, 'Rate': 4, 'Total': 1117, 'Verbal': 566},
 'MT': {'Math': 539, 'Rate': 23, 'Total': 1078, 'Verbal': 539},
 'NC': {'Math': 499, 'Rate': 65, 'Total': 992, 'Verbal': 493},
 'ND': {'Math': 599, 'Rate': 4, 'Total': 1191, 'Verbal': 592},
 'NE': {'Math': 568, 'Rate': 8, 'Total': 1130, 'Verbal': 562},
 'NH': {'Math': 516, 'Rate': 72, 'Total': 1036, 'Verbal': 520},
 'NJ': {'Math': 513, 'Rate': 81, 'Total': 1012, 'Verbal': 499},
 'NM': {'Math': 542, 'Rate': 13, 'Total': 1093, 'Verbal': 551},
 'NV': {'Math': 515, 'Rate': 33, 'Total': 1024, 'Verbal': 509},
 'NY': {'Math': 505, 'Rate': 77, 'Total': 1000, 'Verbal': 495},
 'OH': {'Math': 439, 'Rate': 26, 'Total': 973, 'Verbal': 534},
 'OK': {'Math': 561, 'Rate': 8, 'Total': 1128, 'Verbal': 567},
 'OR': {'Math': 526, 'Rate': 55, 'Total': 1052, 'Verbal': 526},
 'PA': {'Math': 499, 'Rate': 71, 'Total': 999, 'Verbal': 500},
 'RI': {'Math': 499, 'Rate': 71, 'Total': 1000, 'Verbal': 501},
 'SC': {'Math': 488, 'Rate': 57, 'Total': 974, 'Verbal': 486},
 'SD': {'Math': 582, 'Rate': 4, 'Total': 1159, 'Verbal': 577},
 'TN': {'Math': 553, 'Rate': 13, 'Total': 1115, 'Verbal': 562},
 'TX': {'Math': 499, 'Rate': 53, 'Total': 992, 'Verbal': 493},
 'UT': {'Math': 570, 'Rate': 5, 'Total': 1145, 'Verbal': 575},
 'VA': {'Math': 501, 'Rate': 68, 'Total': 1011, 'Verbal': 510},
 'VT': {'Math': 506, 'Rate': 69, 'Total': 1017, 'Verbal': 511},
 'WA': {'Math': 527, 'Rate': 53, 'Total': 1054, 'Verbal': 527},
 'WI': {'Math': 596, 'Rate': 6, 'Total': 1180, 'Verbal': 584},
 'WV': {'Math': 512, 'Rate': 18, 'Total': 1039, 'Verbal': 527},
 'WY': {'Math': 545, 'Rate': 11, 'Total': 1092, 'Verbal': 547}}

In [46]:
newsat = sat[sat.index != 'All']

In [47]:
newsat

       Rate  Verbal  Math  Total
State
CT       82     509   510   1019
NJ       81     499   513   1012
MA       79     511   515   1026
NY       77     495   505   1000
NH       72     520   516   1036
RI       71     501   499   1000
PA       71     500   499    999
VT       69     511   506   1017
ME       69     506   500   1006
VA       68     510   501   1011
DE       67     501   499   1000
MD       65     508   510   1018
NC       65     493   499    992
GA       63     491   489    980
IN       60     499   501   1000
SC       57     486   488    974
DC       56     482   474    956
OR       55     526   526   1052
FL       54     498   499    997
WA       53     527   527   1054
TX       53     493   499    992
HI       52     485   515   1000
AK       51     514   510   1024
CA       51     498   517   1015
AZ       34     523   525   1048
NV       33     509   515   1024
CO       31     539   542   1081
OH       26     534   439    973
MT       23     539   539   1078
WV       18     527   512   1039
ID       17     543   542   1085
TN       13     562   553   1115
NM       13     551   542   1093
IL       12     576   589   1165
KY       12     550   550   1100
WY       11     547   545   1092
MI       11     561   572   1133
MN        9     580   589   1169
KS        9     577   580   1157
AL        9     559   554   1113
NE        8     562   568   1130
OK        8     567   561   1128
MO        8     577   577   1154
LA        7     564   562   1126
WI        6     584   596   1180
AR        6     562   550   1112
UT        5     575   570   1145
IA        5     593   603   1196
SD        4     577   582   1159
ND        4     592   599   1191
MS        4     566   551   1117